APP_NAME="go-hotel"
APP_ENV="development"
# APP_ENV="production"

HTTP_URL="127.0.0.1"
HTTP_PORT="8080"
# HTTP_ALLOWED_ORIGINS="http://127.0.0.1:3000,http://127.0.0.1:5173,http://localhost:9500"
HTTP_ALLOWED_ORIGINS="http://localhost:9500"

DB_CONNECTION="postgres"
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_NAME="your_db_name"
DB_USER="your_db_user"
DB_PASSWORD="your_db_password"

# REDIS_ADDR="localhost:6379"
# REDIS_PASSWORD=

TOKEN_DURATION="15m"